#pods
TesteIOS/Pods/
TesteIOS/TesteIOS.xcworkspace
TesteIOS/Podfile.lock

#xcode
.DS_Store
TesteIOS/.DS_Store
TesteIOS/xcuserdata

# Xcode
TesteIOS/build/
TesteIOS/*.pbxuser
TesteIOS/!default.pbxuser
TesteIOS/*.mode1v3
TesteIOS/!default.mode1v3
TesteIOS/*.mode2v3
TesteIOS/!default.mode2v3
TesteIOS/*.perspectivev3
TesteIOS/!default.perspectivev3
TesteIOS/xcuserdata
TesteIOS/*.xccheckout
TesteIOS/profile
TesteIOS/*.moved-aside
TesteIOS/DerivedData
TesteIOS/*.hmap
TesteIOS/*.ipa
TesteIOS/iOSInjectionProject/